.label-editor-wrapper {
    position: absolute;
    top: 90%;
    right: 0;
    left: 0;
    background-color: var(--text-color);
    padding: 1rem;
    border-radius: var(--br-sq);
    margin: 1rem;
    box-shadow: 0px 1px 7px rgba(0 0 0 / 15%);
}

.label-add-container {
    padding: 1rem;
}

.input.label-input {
    background-color: var(--text-color);
    color: var(--grey1);
    font-size: 0.75rem;
    width: 75%;
    padding: 0.2rem, 1.5rem;
}

.add-label-btn {
    margin-left: auto;
}

.labels-container {
    border-top: 1px solid var(--grey5);
    padding: 1rem 1rem 0;
    margin: 0.5rem;
}

.labels-heading {
    padding-bottom: 1rem;
}

.label-chip-container {
    max-height: 85px;
    overflow-y: auto;
}

.btn.btn-primary.label-chip {
    background-color: var(--accent-color);
    color: var(--text-color);
    font-size: 0.75rem;
    border: none;
    margin: 0.25rem;
}

.btn.btn-primary.label-chip:hover {
    background-color: var(--secondary-color);
}