.note-card-wrapper {
    position: relative;
    color: var(--text-color);
    width: 250px;
    height: 250px;
    border: 1px solid var(--grey2);
    border-radius: 1rem;
    overflow-y: auto;
}

.note-card-wrapper:hover {
    border: none;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    transition: 0.5s ease;
}

.note-timestamp-container {
    color: var(--app-content-grey);
    font-size: 0.75rem;
    margin: 0.5rem 1rem 0 1rem;
}

.pin-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.editor-btn.pinned {
    color: var(--primary-color-highlight)
}

.note-content-display {
    padding: 1rem 1rem;
}

.note-labels-container {
    flex-wrap: wrap;
    padding: 0.25rem 1rem;
    gap: 0.25rem;
}

.note-label-chip {
    background-color: var(--accent-color);
    font-size: 0.75rem;
    width: fit-content;
    padding: 0.25rem 0.5rem;
    border-radius: var(--br-cr);
}

.edit-panel {
    margin: 0 0.5rem;
}

.card-btn-hidden {
    opacity: 0;
    transition: 0.5s ease;
}

.card-btn-visible {
    opacity: 1;
    transition: 2s ease;
}

.editor-btn.card-btn {
    width: 2.5rem;
    padding: 0.25rem;
}