.container-sidenav {
    height: 90vh;
    padding: 2.5rem 0 1.5rem;
}

.container-links {
    gap: 0.25rem;
}

.page-link {
    color: var(--app-content-grey);
    padding: 0.75rem 2.5rem;
    border-top-right-radius: var(--br-cr);
    border-bottom-right-radius: var(--br-cr);
    gap: 1rem;
}

.page-link:hover {
    background-color: var(--grey2);
    transition: 500ms ease-in;
}

.user-operation {
    padding-left: 1rem;
    gap: 1rem
}

.icon {
    font-size: 1.25rem;
    color: var(--white);
}

.user-avatar {
    font-size: 1rem;
    margin: 1rem 2rem;
    gap: 0.75rem;
}

.avatar-icon {
    height: 2.5rem;
    width: 2.5rem;
}

.username-display {
    color: var(--grey3);
    font-weight: bold;
}

.btn-wt-icon.logout-btn {
    font-size: 0.75rem;
    gap: 0.5rem;
    cursor: pointer;
}

.btn-icon.logout-btn:hover {
    color: var(--primary-color)
}