.note-input-wrapper {
    background-color: rgba(0 0 0 / 70%);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: auto;
    z-index: 5;
}

.note-input-container {
    position: relative;
    background-color: var(--white);
    height: fit-content;
    max-width: 750px;
    border-radius: var(--br-sq);
    margin: 1rem;
    box-shadow: 0px 1px 7px rgba(0 0 0 / 15%);
}

.note-input {
    padding: 1rem 1rem 0;
    border-top-left-radius: var(--br-sq); 
    border-top-right-radius: var(--br-sq);
}

.note-input-btn-panel {
    padding: 0.25rem 0.5rem 0.75rem;
}

.note-title {
    padding: 1rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--grey);
    margin-bottom: 1rem;
}

.note-title::placeholder {
    color: var(--secondary-grey);
}

.note-title:focus {
    outline: none;
}

.editor-labels-display {
    flex-wrap: wrap;
    width: 100%;
    margin: 0 1rem;
    gap: 0.5rem
}

.btn-primary.editor-label-chip {
    background-color: var(--accent-color);
    color: var(--text-color);
    font-size: 0.75rem;
    line-height: 0.75rem;
    padding: 0.5rem 0.7rem;
    border: none;
    gap: 0.5rem;
    cursor: default;
}

.btn-primary.editor-label-chip:hover {
    background-color: var(--accent-color);
}

.chip-close-btn {
    background-color: transparent;
    color: var(--app-content-grey);
    height: 1rem;
    border: none;
    cursor: pointer; 
}

.chip-close-btn:hover {
    color: var(--grey3);
}

.note-input-btn-panel {
    margin-top: 1rem;
}

.btn-icon.editor-btn {
    font-size: 1.25rem;
}

.btn-icon:hover {
    font-size: 1.35rem;
}

.btn-close {
    position: absolute;
    top: 0rem;
    right: 0rem;
}

.btn.btn-icon.btn-close {
    font-size: 1rem;
}

.btn.btn-icon.btn-close:hover {
    font-size: 1.1rem;
}

.btn.btn-primary.btn-add-note {
    font-size: 0.75rem;
    margin: 0 1rem;
    box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
}

.priority-list-toggle {
    border-radius: var(--br-cr);
    box-shadow: 0px 1px 6px rgba(0 0 0 / 15%);
}

.pin-icon-selected {
    color: var(--primary-color-highlight);
}
