/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Pacifico&display=swap');

:root {

    /* fonts */
    --logo-font: 'Pacifico', cursive;
    --text-font: 'Open Sans', sans-serif;

    /* colors */
    --white: #ffffff;
    --black: #202124;
    --primary-color: #919fff;
    --primary-color-highlight: #798bff;
    --secondary-color: #b3beff;
    --accent-color: #cdd2ff;
    --primary-grey: #f7f7f7;
    --secondary-grey:#cbcbcb;
    --app-content-grey:#777c81;
    --text-color: #303030;
    --grey: #dedede;
    --grey2: #efefef;
    --grey3: #4b4d4f;
    --grey4: #3f3f3f;
}