.home-notes-list-wrapper {
    height: 75vh;
    padding: 0 3rem;
    margin-left: 2rem;
    margin-right: 1rem;
    overflow-y: auto;
}

.home-notes-list-wrapper::-webkit-scrollbar {
    width: 3px;
}

.home-notes-list-wrapper::-webkit-scrollbar-thumb {
    background-color: var(--grey3);
    border-radius: 3px;
}

.home-notes-list-wrapper::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 3px;
}

.home-notes-container {
    margin: 1rem 0 4rem;
}

.home-list-heading {
    font-size: 1rem;
    margin: 1rem;
}

.search-note {
    margin: 1rem;
}