.wrapper-topnav {
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 0.5rem;
    box-shadow: 0 1px 7px rgb(0 0 0 / 40%);
}

.container-topnav {
    max-width: 90%;
    margin: auto;
}

.logo {
    color: var(--white);
    font-size: 1.75rem;
    font-weight: bold;
    font-family: var(--logo-font);
    letter-spacing: 2px;
}

.container-social {
    gap: 1rem;
    margin-left: auto;
}

.btn-icon:hover {
    background-color: var(--primary-color);
    color: var(--grey);
    transition: 0.4s ease;
}

.social-icon {
    color: var(--white);
}