.palette-wrapper {
    position: absolute;
    top: 90%;
    right: 0;
    left: 0;
    background-color: var(--text-color);
    width: fit-content;
    gap: 1.5rem;
    padding: 0.25rem 1rem;
    border-radius: var(--br-sq);
    margin: 1rem;
    box-shadow: 0px 1px 7px rgba(0 0 0 / 15%);
}

.colors-container {
    gap: 0.5rem;
}

.color-item {
    height: 2.5rem;
    width: 2.5rem;
    border: 3px solid transparent;
    border-radius: var(--br-rd);
    cursor: pointer;
}

.color-item:hover {
    border-color: var(--text-color);
}

.btn-icon {
    color: var(--app-content-grey);
}

.btn-icon:hover {
    background-color: transparent;
    color: var(--app-content-grey);
    font-size: 1.65rem;
}

